/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
======================================== */

/* 1. Global Styles
======================================== */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

.float-right {
  float: right;
}

/* 2. Typography Styles
======================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #414546;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 700;
  transition: font-size 0.25s ease;
}

h1 {
  font-size: calc(64px / 1.5);
  line-height: 1.25;
}

h2 {
  font-size: calc(64px / 1.5);
}

h3 {
  font-size: calc(45px / 1.5);
}

h4 {
  font-size: calc(23px / 1.5);
}

@media(min-width: 720px) {
  h1 {
    font-size: calc(64px / 1.25);
  }

  h2 {
    font-size: calc(45px / 1.25);
  }

  h3 {
    font-size: calc(32px / 1.25);
  }

  h4 {
    font-size: calc(23px / 1.25);
  }
}

@media(min-width: 1024px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 23px;
  }
}

p {
  color: #414546;
  font-family: 'Roboto', Georgia, serif;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 15px;
}

a {
  color: #42A5F5;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 23px;
}

li {
  color: #414546;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 23px;
  list-style: none;
}

label {
  color: #414546;
  display: block;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

img {
  width: 100%;
}

b,
strong {
  font-weight: 700;
}

small {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
}

/* 3. Structure Styles
======================================== */
.container {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 15px;
}

.divider {
  border: none;
  border-bottom: 1px solid #F2F3F5;
  clear: both;
  width: 100%;
  margin: 20px 0px;
}

@media(min-width: 720px) {
  .col-1-2 {
    float: left;
    width: calc(97.5%/2);
  }

  .col-1-2:not(:last-child) {
    margin-right: 2.5%;
  }

  .col-1-3 {
    float: left;
    width: calc(95%/3);
  }

  .col-1-3:not(:last-child) {
    margin-right: 2.5%;
  }

  .col-1-4 {
    float: left;
    width: calc(92.5%/4);
  }

  .col-1-4:not(:last-child) {
    margin-right: 2.5%;
  }
}

/* 4. Modules Styles
======================================== */

/* Site Navigation */
.site-header {
  background-color: #CCCCCC;
  padding: 20px 15px;
}

.site-header-nav {
  align-items: center;
  display: flex;
}

.site-nav-left,
.site-nav-right {
  align-items: center;
  display: flex;
}

.site-nav-right {
  float: right;
  margin-left: auto;
}

.site-nav-left li:not(:first-child),
.site-nav-right li {
  display: none;
  font-weight: 700;
  line-height: 0;
}

.site-nav-mobile li {
  display: inline-block;
}

@media(min-width: 768px) {
  .site-nav-left li:not(:first-child),
  .site-nav-right li {
    display: inline-block;
  }

  .site-nav-mobile,
  .site-nav-mobile li {
    display: none;
  }
}

.site-nav-left li:not(:last-child),
.site-nav-right li:not(:last-child),
.site-nav-mobile li:not(:last-child) {
  margin-right: 25px;
}

.site-nav-left .logo {
  width: 200px;
}

.site-nav-link {
  border-bottom: 2px solid transparent;
  color: #FFFFFF;
  text-decoration: none;
}

/* Site Footer */
.footer {
  padding: 30px 30px 60px;
  border-top: 1px solid #290424;
}

.footer-section {
  margin-bottom: 15px;
}

@media(min-width: 720px) {
  .footer-section {
    margin-bottom: 0;
  }
}

.footer .logo {
  margin-bottom: 5px;
  width: 150px;
}

.footer a  {
  color: #959595;
  text-decoration: none;
}

.footer p  {
  margin-bottom: 5px;
}

.footer-email-input {
  margin-right: 2.5%;
  width: 68% !important;
}

.footer-email-button {
  font-size: 12px !important;
  padding: 10px !important;
  width: 27.5% !important;
}

@media(min-width: 768px) {
  .footer-email-input {
    width: 57% !important;
  }

  .footer-email-button {
    width: 37.5% !important;
  }
}

/* 5. Component Styles
======================================== */
.alert {
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 10px 15px;
  text-align: left;
}

.alert-content {
  align-items: center;
  display: flex;
}

.alert-general {
  background-color: #CCCCCC;
}

.alert img {
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  width: 15px;
}

.alert p {
  display: inline-block;
  margin-bottom: 0;
}

.button {
  border-radius: 3px;
  color: #2a2a2a;
  display: inline-block;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.button:hover {
  opacity: 0.75;
}

.button-primary {
  background-color: #FFFFFF;
}

.button-secondary {
  background-color: #999999;
}

.button-full {
  width: 100%;
}

.button-small {
  font-size: 13px;
  padding: 10px 30px;
}

.card {
  background-color: #FFFFFF;
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 30px 30px 15px;
}

.chip {
  display: flex;
  align-items: center;
}

.chip-img-container {
  border-radius: 30em;
  float: left;
  height: 40px;
  margin-right: 15px;
  overflow: hidden;
  width: 40px;
  background-color: #999999;
}

.chip-img-container h5 {
  margin-top: 20px;
  text-align: center;
}

.chip-content-container {
  float: left;
}

.chip-content-title {
  color: #999999;
  margin-bottom: 0;
}

.form {
  display: block;
}

input,
select,
textarea {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px 0 rgba(189,191,192,0.10);
  border: 1px solid #ffffff;
  height: 35px;
  margin-bottom: 15px;
  padding: 10px;
  transition: border-color 0.5s ease;
  width: 100%;
}

input[type="submit"] {
  cursor: pointer;
  height: auto;
  width: auto;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  border: 1px solid #ffffff;
  outline: none;
}

textarea {
  height: 100px;
}

/* 6. Page Styles
======================================== */

.site-main {
  padding: 60px 15px;
  position: relative;
}

.site-main-background {
  background-color: #999999;
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  height: 400px;
  right: 0;
  top: 0;
  z-index: -1;
}

.site-main-header {
  margin-bottom: 30px;
  text-align: center;
}

.site-main-header h1,
.site-main-header p {
  /*color: #FFFFFF;*/
}

.site-main-section {
  margin-bottom: 60px;
}

@media(min-width: 720px) {
  .site-main-section {
    width: 75%;
    margin: 0 auto 60px;
  }
}

.ticket-content {
  display: block;
}

.ticket-info {
  display: none;
}

@media(min-width: 1024px) {
  .ticket-container {
    padding: 20px;
  }

  .ticket-content{
    display: inline-block;
    width: 70%;
  }

  .ticket-info {
    width: 29%;
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    border-left: solid 1px #290424;
    text-align: center;
  }
}

.ticket-content-section-header {
  display: block;
  margin-bottom: 20px;
}

.ticket-content-section {
  display: block;
  margin: 0px 0px 15px;
}

.ticket-content-item {
  display: inline-block;
}

.ticket-content-item img {
  width: 25px;
  margin-right: 5px;
}

.ticket-content-right {
  padding-right: 20px;
}

@media(min-width: 720px) {
  .ticket-content-right {
    text-align: right;
    display: inline-block;
  }
}

.checkout-container h2 {
  font-size: 25px;
  display: inline-block;
  margin-bottom: 20px;
}

@media(min-width: 720px) {
  .checkout-container {
    width: 80%;
    margin: auto;
  }
}
